body {
  background-color: #442244;
  color: white;
}

#twitch-wrapper{
  width: 50%;
  margin: 0 auto;
}

#twitch {
  white-space: nowrap;
}

#twitchplayer {
  display: inline;
}

#chat_embed {
  display: inline;
}
